@font-face {
  font-family: "LeagueSpartian";
  src: url("./assets/fonts/LeagueSpartan-Bold.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Magnolia";
  src: url("./assets/fonts/Magnolia\ Script.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Alice";
  src: url("./assets/fonts/Alice-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
